version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: postgres-auth
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - pgdata_auth:/var/lib/postgresql/data

volumes:
  pgdata_auth:
